/* App-wide */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  word-wrap: break-word;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../assets/ProximaNova-Reg.otf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../assets/ProximaNova-Sbold.otf');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../assets/ProximaNova-Bold.otf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../assets/ProximaNova-Xbold.otf');
  font-style: normal;
  font-weight: 900;
}

#app, .app, .home-page, .issuedetail-page {
  height: 100%;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.spinner {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* Title View */

header {
  background-color: #333;
  height: 35%;
  margin-bottom: 8%;
  width: 100%;
}

h1 {
  color: #fff;
  font-weight: 900;
  font-size: 3.5em;
  margin: 0;
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

h1 a {
  color: #fff;
}

.clear {
  clear: both;
}

/* Issue Feed & Issue Detail View */

.issuefeed-container, .issuedetail-container {
  font-weight: 400;
  margin: 0 auto;
  width: 75%;
}

.issuefeed-avatar img, .issuedetail-avatar img, .commentfeed-avatar img, .error-avatar img {
  border-radius: 50px;
  float: left;
  height: 100px;
  margin-bottom: 5%;
  margin-left: 5%;
  width: 100px;
}

.issuefeed-entrycontent, .issuedetail-entrycontent, .commentfeed-entrycontent, .error-entrycontent {
  float: left;
  margin-left: 5%;
  width: 75%;
}

.issuefeed-number, .issuefeed-title, .issuedetail-title, .error-number, .error-title {
  font-weight: 900;
}

.issuefeed-title, .issuedetail-title, .error-title {
  margin-bottom: 1%;
}

.issuefeed-title a, .issuedetail-title a, .error-title {
  color: #000;
  font-size: 2em;
}

.issuefeed-username, .issuedetail-username, .error-username {
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 5%;
}

.issuefeed-username a, .issuedetail-username a {
  color: #3097f4;
}

.issuefeed-labels, .issuedetail-labels {
  font-size: 0.8em;
  margin: 0;
  overflow: hidden;
}

.issuefeed-label, .issuedetail-label {
  border: 1px #666 solid;
  border-radius: 3px;
  display: inline-block;
  float: left;
  font-weight: 600;
  margin-bottom: 3%;
  padding: 5px 10px;
  margin-left: 10px;
  text-transform: uppercase;
}

.issuefeed-label:first-child, .issuedetail-label:first-child {
  margin-left: 0;
}

.issuefeed-summary, .issuedetail-summary, .commentfeed-summary {
  clear: both;
  white-space: pre-wrap;
}

.issuefeed-label, .issuefeed-summary, .issuedetail-label, .issuedetail-summary, .commentfeed-summary {
  color: #666;
  font-size: 1em;
}

/* Issue Feed View */

.issuefeed {
  min-height: 100vh;
}

.issuefeed-entry {
  border-bottom: 1px solid #999;
  padding-bottom: 10%;
  padding-top: 10%;
}

.issuefeed-entry:first-child {
  padding-top: 0;
}

.issuefeed-number {
  margin-bottom: 2%;
}

.issuefeed-summary-readmore a {
  color: #3097f4;
}

/* Issue Details View */

.issuedetail {
  overflow: hidden;
  padding-bottom: 10%;
}

.issuedetail-state {
  color: #20e8e6;
  font-size: 1.4em;
  font-weight: 900;
  text-transform: uppercase;
}

.issuedetail-username {
  display: inline-block;
}

.commentfeed-entry {
  border-top: 1px solid #999;
  overflow: hidden;
  padding-bottom: 10%;
  padding-top: 10%;
}

.commentfeed-username {
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 2%;
}

.commentfeed-username a {
  color: #3097f4;
}

.mention {
  color: #3097f4;
}

/* Pagination */

.pagination-nav {
  padding-bottom: 10%;
  position: relative;
}

.pagination li {
  display: inline-block;
  float: left;
  position: absolute;
}

.pagination a {
  color: #666;
  font-size: 1em;
  font-weight: 700;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

/* Error View */

.error-userlink {
  color: #3097f4;
}
